@font-face {
  font-family: "iconfont"; /* Project id 4420930 */
  src: url('iconfont.woff2?t=1706095528772') format('woff2'),
       url('iconfont.woff?t=1706095528772') format('woff'),
       url('iconfont.ttf?t=1706095528772') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianchongxing-:before {
  content: "\e640";
}

.icon-biaodanbiaoqian:before {
  content: "\e6d5";
}

.icon-biaoqian-fill:before {
  content: "\e61e";
}

.icon-sousuo:before {
  content: "\e60c";
}

.icon-xiazai1:before {
  content: "\e77f";
}

.icon-api:before {
  content: "\e6e3";
}

.icon-weiye:before {
  content: "\e68c";
}

.icon-xiayiyeshi:before {
  content: "\e798";
}

.icon-shangyiyeshi:before {
  content: "\e7a5";
}

.icon-24gf-play:before {
  content: "\ea82";
}

.icon-shujuliebiao:before {
  content: "\e60f";
}

.icon-icon-shujucaiji:before {
  content: "\e65e";
}

.icon-dapingpeizhi:before {
  content: "\e637";
}

.icon-tupian:before {
  content: "\e63a";
}

.icon-8tupian-2:before {
  content: "\e66b";
}

.icon-tupian-filled:before {
  content: "\e7df";
}

.icon-tupian1:before {
  content: "\e62e";
}

.icon-tupian2:before {
  content: "\f896";
}

.icon-tupian3:before {
  content: "\e7bf";
}

.icon-tupianshibie-:before {
  content: "\e632";
}

.icon-shixiaoxishu:before {
  content: "\e74f";
}

.icon-zuhetushibie:before {
  content: "\e8c0";
}

.icon-tongjiyugaishuai:before {
  content: "\e605";
}

.icon-saomiao:before {
  content: "\ecac";
}

.icon-dandianshibie:before {
  content: "\e64e";
}

.icon-fahuoshixiao:before {
  content: "\e64a";
}

.icon-shixiao:before {
  content: "\ea3b";
}

.icon-icon-gaishuai-mianxing-shuangse:before {
  content: "\e7f4";
}

.icon-shibie:before {
  content: "\e663";
}

.icon-a-Group134134gaishuai:before {
  content: "\e6b2";
}

.icon-fengxianshibie:before {
  content: "\e6b3";
}

.icon-fengxianshibie1:before {
  content: "\e6c5";
}

.icon-baoguomoren:before {
  content: "\e610";
}

.icon-qijianbaoguo:before {
  content: "\e61a";
}

.icon-baoguomoren1:before {
  content: "\e61c";
}

.icon-kuaidi-mian:before {
  content: "\e602";
}

.icon-zongshuliang:before {
  content: "\e792";
}

.icon-baoguo_lanshou:before {
  content: "\e6ad";
}

.icon-baoguo_lingjian:before {
  content: "\e6ae";
}

.icon-baoguo_fahuo:before {
  content: "\e6af";
}

.icon-baoguo_shouhuo:before {
  content: "\e6b0";
}

.icon-baoguo_quxiaoshouhuo:before {
  content: "\e6b1";
}

.icon-baoguo:before {
  content: "\e6ed";
}

.icon-baoguowancheng:before {
  content: "\e6a8";
}

.icon-caigouruku:before {
  content: "\e611";
}

.icon-chukudan:before {
  content: "\e612";
}

.icon-huowu:before {
  content: "\e613";
}

.icon-xiaoshouchukudan:before {
  content: "\e614";
}

.icon-shouhuobaoguo:before {
  content: "\e6ba";
}

.icon-baoguoxiangzi:before {
  content: "\e731";
}

.icon-baoguo1:before {
  content: "\e60b";
}

.icon-weifabaoguo:before {
  content: "\e615";
}

.icon-yifabaoguo:before {
  content: "\e616";
}

.icon-baoguodengji:before {
  content: "\e75d";
}

.icon-shouye_wuliu_baoguo:before {
  content: "\e858";
}

.icon-baoguomian:before {
  content: "\e641";
}

.icon-baoguo-tihuoduanxin:before {
  content: "\e606";
}

.icon-baoguo-lingjian:before {
  content: "\e607";
}

.icon-icon_wodebaoguo:before {
  content: "\e623";
}

.icon-saoma:before {
  content: "\e634";
}

.icon-tubiao:before {
  content: "\e600";
}

.icon-icons_statistics:before {
  content: "\e633";
}

.icon-tubiao1:before {
  content: "\e61b";
}

.icon-shujubiao:before {
  content: "\e601";
}

.icon--shuju:before {
  content: "\e625";
}

.icon-tubiao2:before {
  content: "\e621";
}

.icon-simeitianshishujubiao:before {
  content: "\e636";
}

.icon-shujubiaomoxingicon:before {
  content: "\e6d1";
}

.icon-shujubiao1:before {
  content: "\e643";
}

.icon-shujubiaoge:before {
  content: "\e60a";
}

.icon-shujubiaozongshu:before {
  content: "\e9b7";
}

