<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <Component Id="ShortcutsComponent"  Directory="INSTALLFOLDER"  Guid="FB26D5E1-571C-44F5-9FA2-CEFB7F42646E">
      <Shortcut Id="StartMenuShortcut" Directory="StartMenuFolder" Target="[INSTALLFOLDER]JayTom.Dws.Client.exe" Name="JayTom.Dws.Client" WorkingDirectory="INSTALLFOLDER" Icon="appIcon" />

      <Shortcut Id="DesktopShregeditortcut"
                Directory="DesktopFolder"
                Target="[INSTALLFOLDER]JayTom.Dws.Client.exe"
                Name="视频追溯系统"
                WorkingDirectory="INSTALLFOLDER"
                Icon="appIcon" />

      <RemoveFolder Id="CleanUpShortCut"
                    Directory="INSTALLFOLDER"
                    On="uninstall" />

      <RegistryValue Root="HKCU"
                     Key="Software\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)"
                     Name="installed"
                     Type="integer"
                     Value="1"
                     KeyPath="yes" />
    </Component>
  </Fragment>
</Wix>