@font-face {
    font-family: 'Alibaba-PuHuiTi';
    src: url('/fonts/Alibaba-PuHuiTi-Light.ttf') format('ttf'), url('/fonts/Alibaba-PuHuiTi-Bold.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}