<?xml version="1.0" encoding="utf-8" ?>
<Nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" name="LogFile" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    <target xsi:type="File" name="AppRuntimeLogFile" fileName="${basedir}/logs/AppRuntime/${shortdate}.log"
            layout="${message}" />
    <target xsi:type="File" name="AppRuntimeLockLogFile" fileName="${basedir}/logs/AppRuntime/Lock/${shortdate}.log"
            layout="${message}" />
    <target xsi:type="Null" name="blackhole" />

    <!-- 添加归档目录和归档策略 -->
    <target xsi:type="File" name="ArchiveLogFile" fileName="${basedir}/logs/archive/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}"
            archiveFileName="${basedir}/logs/archive/${shortdate}.{#}.log"
            archiveEvery="Day"
            maxArchiveFiles="3"
            archiveNumbering="Date"
            archiveOldFileOnStartup="true" />
  </targets>

  <rules>
    <logger name="System.Net.Http.*" maxlevel ="Info" writeTo="blackhole" final="true" />
    <logger name="JayTom.Dws.Client.Service.BackgroundService.LogProcessingService" maxlevel ="Info" minlevel ="Info" writeTo="AppRuntimeLogFile" final="true" />
    <logger name="JayTom.Dws.Client.Service.BackgroundService.LogProcessingService" maxlevel ="Trace" minlevel ="Trace" writeTo="AppRuntimeLockLogFile" final="true" />
    <logger name="*" minlevel="Trace" writeTo="LogFile" />

    <!-- 添加归档日志的规则 -->
    <logger name="*" minlevel="Trace" writeTo="ArchiveLogFile" />
  </rules>
</Nlog>