<?xml version="1.0" encoding="utf-8" ?>
<Nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- 无人值守模式：异步队列有界且不阻塞业务线程；文件长开以保持性能，并显式共享，运行中可复制；单文件达到 100 MiB 后滚动。 -->
    <target xsi:type="AsyncWrapper" name="AsyncLogFile" queueLimit="20000" overflowAction="Discard">
      <target xsi:type="File" name="LogFile" fileName="${basedir}/logs/${shortdate}.log" encoding="utf-8" writeBom="true" keepFileOpen="true" concurrentWrites="true"
               archiveAboveSize="104857600" archiveFileName="${basedir}/logs/${shortdate}.log.{#}"
               archiveNumbering="Sequence" maxArchiveFiles="30"
               layout="${longdate} ${uppercase:${level}} ${message}${onexception:inner=${newline}${exception:format=tostring}}" />
    </target>
    <target xsi:type="AsyncWrapper" name="AsyncAppRuntimeLogFile" queueLimit="20000" overflowAction="Discard">
      <target xsi:type="File" name="AppRuntimeLogFile" fileName="${basedir}/logs/AppRuntime/AppRuntime-${shortdate}.log" encoding="utf-8" writeBom="true" keepFileOpen="true" concurrentWrites="true"
               archiveAboveSize="104857600" archiveFileName="${basedir}/logs/AppRuntime/AppRuntime-${shortdate}.log.{#}"
               archiveNumbering="Sequence" maxArchiveFiles="30"
               layout="${message}" />
    </target>
    <target xsi:type="AsyncWrapper" name="AsyncPackageAggregationLogFile" queueLimit="20000" overflowAction="Discard">
      <target xsi:type="File" name="PackageAggregationLogFile" fileName="${basedir}/logs/集包器/PackageAggregationLog-${shortdate}.log" encoding="utf-8" writeBom="true" keepFileOpen="true" concurrentWrites="true"
               archiveAboveSize="104857600" archiveFileName="${basedir}/logs/集包器/PackageAggregationLog-${shortdate}.log.{#}"
               archiveNumbering="Sequence" maxArchiveFiles="30"
               layout="${longdate} ${uppercase:${level}} ${message}" />
    </target>
    <target xsi:type="AsyncWrapper" name="AsyncTcpLogFile" queueLimit="20000" overflowAction="Discard">
      <target xsi:type="File" name="TcpLogFile" fileName="${basedir}/logs/Plugin/Tcp/Tcp-${shortdate}.log" encoding="utf-8" writeBom="true" keepFileOpen="true" concurrentWrites="true"
               archiveAboveSize="104857600" archiveFileName="${basedir}/logs/Plugin/Tcp/Tcp-${shortdate}.log.{#}"
               archiveNumbering="Sequence" maxArchiveFiles="30"
               layout="${longdate} ${uppercase:${level}} ${message}" />
    </target>

    <!--<target xsi:type="AsyncWrapper" name="AsyncHttpLogFile" queueLimit="20000" overflowAction="Discard">
      <target xsi:type="File" name="HttpLogFile" fileName="${basedir}/logs/Http/Http-${shortdate}.log"
              layout="${longdate} ${uppercase:${level}} ${message}" />
    </target>-->
    <target xsi:type="AsyncWrapper" name="AsyncAppRuntimeLockLogFile" queueLimit="20000" overflowAction="Discard">
      <target xsi:type="File" name="AppRuntimeLockLogFile" fileName="${basedir}/logs/AppRuntime/Lock/Lock-${shortdate}.log" encoding="utf-8" writeBom="true" keepFileOpen="true" concurrentWrites="true"
               archiveAboveSize="104857600" archiveFileName="${basedir}/logs/AppRuntime/Lock/Lock-${shortdate}.log.{#}"
               archiveNumbering="Sequence" maxArchiveFiles="30"
               layout="${longdate} ${uppercase:${level}} ${message}" />
    </target>
    <target xsi:type="AsyncWrapper" name="AsyncApiLogFile" queueLimit="20000" overflowAction="Discard">
      <target xsi:type="File" name="ApiLogFile" fileName="${basedir}/logs/Api/Api-${shortdate}.log" encoding="utf-8" writeBom="true" keepFileOpen="true" concurrentWrites="true"
               archiveAboveSize="104857600" archiveFileName="${basedir}/logs/Api/Api-${shortdate}.log.{#}"
               archiveNumbering="Sequence" maxArchiveFiles="30"
               layout="${longdate} ${uppercase:${level}} ${message}" />
    </target>
    <target xsi:type="AsyncWrapper" name="AsyncGraysLogFile" queueLimit="20000" overflowAction="Discard">
      <target xsi:type="File" name="GraysLogFile" fileName="${basedir}/logs/Grays/Grays-${shortdate}.log" encoding="utf-8" writeBom="true" keepFileOpen="true" concurrentWrites="true"
               archiveAboveSize="104857600" archiveFileName="${basedir}/logs/Grays/Grays-${shortdate}.log.{#}"
               archiveNumbering="Sequence" maxArchiveFiles="30"
               layout="${longdate} ${uppercase:${level}} ${message}" />
    </target>
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <logger name="System.Net.Http.*" maxlevel="Info" writeTo="blackhole" final="true" />
    <logger name="JayTom.Dws.Client.Service.BackgroundService.LogProcessingService" maxlevel="Info" minlevel="Info" writeTo="AsyncAppRuntimeLogFile" final="true" />
    <logger name="JayTom.Dws.Client.Service.BackgroundService.LogProcessingService" minlevel="Info" writeTo="AsyncAppRuntimeLockLogFile" final="true" />
    <logger name="JayTom.Dws.Client.Service.BackgroundService.PackageAggregationService" minlevel="Info" writeTo="AsyncPackageAggregationLogFile" final="true" />
    <logger name="JayTom.Dws.Interface.*" minlevel="Info" writeTo="AsyncApiLogFile" final="true" />
    <logger name="JayTom.Dws.Plugin.Device.GrayscaleDevice.*" minlevel="Info" writeTo="AsyncGraysLogFile" final="true" />
    <logger name="JayTom.Dws.Plugin.Tcp.*" minlevel="Info" writeTo="AsyncTcpLogFile" final="true" />
    <logger name="*" minlevel="Trace" writeTo="AsyncLogFile" />

  </rules>
</Nlog>
