<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configuration>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="Percipio/*;Percipio/apps;Percipio/PercipioAppCentermt.dll" />
      </assemblyBinding>
    </runtime>
  </configuration>
</configuration>