<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v7.0.0" />
  </startup>
  <bootstrapperApplication xmlns="http://schemas.microsoft.com/wix/2010/BootstrapperApplication">
    <host assemblyName="WpfApp4" />
  </bootstrapperApplication>
</configuration>